*,  html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    body {
        background-color: rgb(255, 255, 255);
    }

    nav {
        background-color: rgb(118, 122, 120);
        display: flex;
    }

    nav ul {
        display: flex;
    }