.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
*,  html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin-right: auto;
    border-radius: 120px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.nama {
    font-family: "Bebas Neue", sans-serif;
}


.Firstname {
    color:black;   
}

.Lastname {
    color: red;
    align-items: center;
    padding: 1px;
}

.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a {
    transition: all 0.3s ease 0s;
    color: black;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    font-size: small;
}

.nav_link li a:hover {
   background-color: rgb(126, 233, 126);
}

button {
    padding: 5px 15px;
    font-size: small;
    background-color: rgb(69, 239, 69);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
}

button:hover {
    background-color:rgb(126, 233, 126) ;
}