*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-images{
    display: flex;
    gap: 4rem;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.image-1{
    height: 30rem;
    border-radius: 9999px;
}


.image-2{
    height: 30rem;
    border-radius: 9999px;
}

.c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c1 {
    margin-inline: auto;
}

.c-2 {
    display: flex;
    gap: 7rem;
}
.c-3 {
    display: flex;
    gap: 5rem;
}
.c-3 button {
    border: 0;
    background-color: green;
    color: white;
    padding: .5rem 1rem;
    border-radius: 2rem;
    transition: 1s ease-in-out;
}

.c-3 button:hover {
    
}